.slider {
    --nb: 1;

    .slider-content {
        overflow-y: hidden;
        overflow-x: scroll;
        will-change: scroll-position;
        display: grid;
        grid-auto-flow: column;
        grid-gap: var(--gap);
        margin-left: calc(-1 * var(--left));
        margin-right: calc(-1 * var(--right));
        -ms-overflow-style: none;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }

        &.touchable {
            scroll-snap-type: x mandatory;

            .item {
                scroll-snap-align: start;
                scroll-margin: var(--left);
            }
        }

        &.onswipe {
            cursor: grab;
            user-select: none;
            pointer-events: none;
        }
    }

    .item {
        content-visibility: auto;
    }

    .item:first-child {
        margin-left: var(--left);
    }

    .item:last-child {
        margin-right: var(--ctr-offset);
        /*margin-right: var(--right);*/
    }

    &:not(.auto) .item {
        width: calc(100cqw / var(--nb) - (var(--nb) - 1) * var(--gap) / var(--nb));
    }
}

.slider-pagination {
    display: inline-flex;
    gap: 10px;

    button {
        width: 10px;
        height: 10px;
        background-color: #ccc;
        border-radius: 50%;
        cursor: pointer;
        border: none;

        &.active {
            background-color: red;
        }

        &.hide {
            display: none;
        }
    }
}

.slider-btn {
    cursor: pointer;
    background: #f5f5f5;
    border: 1px solid black;
    margin: 0;

    &[aria-disabled=true] {
        opacity: .5;
    }

    &.prev {
        justify-self: start;
    }

    &.next {
        justify-self: end;
    }
}